<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="demo">
    <p>{{msg}}</p>
    <input v-model="msg">
    <ul>
        <li v-for="a in arr">
            {{a.msg}}
        </li>
    </ul>
    <p>{{msg}}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
</div>

<mycom>
    <p>hello!</p>
</mycom>



<script type="text/javascript" src="public/js/vue1.0.12.min.js"></script>
<script type="text/javascript" src="js/hello.js"></script>
</body>
</html>